@model ERP.Models.HRMS.Reward_managment.Reward

@{
    ViewData["Title"] = "Details";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Reward Detail</h5>
            <span class="d-block m-t-5">Full Reward Information.</span>
        </div>
        <div class="card-block table-border-style">
            <dl class="row">
                <dt class = "col-sm-2">
                    Reward
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.reward_name)
                </dd>
                <dt class="col-sm-2">
                    Given date
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.given_date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.status)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.status == true)
                    {
                        <p class="badge badge-success">Approved</p>
                    }
                    else if (Model.status == false)
                    {
                        <p class="badge badge-danger">Rejected</p>
                    }
                    else
                    {
                        <p class="badge badge-warning">Pending</p>
                    }
                </dd>
                <dt class = "col-sm-2">
                    Description
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt class = "col-sm-2">
                    Reason of Reward
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.reason_of_reward)
                </dd>
            </dl>
        </div>
    </div>
</div>
