@model IEnumerable<ERP.Models.HRMS.Reward_managment.Reward>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reward_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rewarddocumentPathsField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filestatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updated_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleted_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reward_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rewarddocumentPathsField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filestatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleted_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.back_account_number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
