@model ERP.Models.HRMS.Surety.Surety

@{
    ViewData["Title"] = "Details";
}
<div class="container repo">
    <div class="card">
        <div class="card-header">
            <div class="row mb-4">

                <div class="col-12">
                    <h5 class="text-left p-3">

                        ለ @Html.DisplayFor(model => model.company_name) <br><br>
                        አዲስ አበባ
                    </h5>
                </div>
            </div>


            <div class="col-12">


                <h6>

                    ጉዳዩ፡- ዋስትና ይመለከታል፤
                </h6>
                የሚ/ር መ/ቤታችን ሠራተኛ የሆኑት አቶ/ወ/ሮ/ሪት ለ/ወ/ሪት @Html.DisplayFor(model => model.Employees.first_name_am) @Html.DisplayFor(model => model.Employees.father_name_am) መሆን እንዲችሉ ሠራተኛ መሆናቸውንና የደመወዛቸው መጠን ተገልፆ እንዲጻፍላቸው በቀን  @Html.DisplayFor(model => model.created_date) እ.ኤ.አ በተፃፈ ማመልከቻ ጠይቀውናል፡፡
                    በመሆኑም በስም ተጠቃሹ በመ/ቤታችን ቋሚ ሠራተኛ ሲሆኑ የወር ደመወዛቸውም ብር  @Html.DisplayFor(model => model.Employees.salary) መሆኑን እየገለፅን ሠራተኛው በተለያዩ ምክንያት ስራ ቢለቁ ለድርጅታችሁ የምናሳውቅ መሆኑን እንገልፃለን፡፡
                    <br><br><br> ከሠላምታ ጋር
             
            </div>





        
