@model IEnumerable<ERP.Models.HRMS.Surety.Surety>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Surety Index";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <div class="">
                <h5>Surety List</h5>
                <span class="d-block m-t-5">The following is a list of Surety.</span>
            </div>
            <a class="btn btn-info float-right" asp-action="Create"><i class="feather icon-plus fa-fw"></i>Create New</a>
        </div>
        
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Employee ID 
                            </th>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Company Name
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                        <h6 class="mb-1">@Html.DisplayFor(modelItem => item.Employees.employee_code)</h6>
                                </td>
                                <td>

                                    <h6 class="mb-1">@Html.DisplayFor(modelItem => item.Employees.first_name)  @Html.DisplayFor(modelItem => item.Employees.father_name)</h6>

                                </td>
                                <td>
                                    <h6 class="mb-1">@Html.DisplayFor(modelItem => item.company_name)</h6>
                                </td>
                                <td>
                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>@Html.DisplayFor(modelItem => item.updated_date)</h6>
                                </td>
                                <td class="float-right">
                                    <a onclick="deleteConf(@item.id)" class="text-danger ml-2" id="DeleteLink">
                                        <i class="feather icon-trash-2 fa-fw"></i>
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.id" class="text-success ml-2">
                                        <i class="feather icon-edit fa-fw"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-outline-info ml-2">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>