@{
    ViewData["Title"] = "Employee Profile";
    var employee = ViewData["Employee"] as ERP.Models.HRMS.Employee_managments.Employee;
}

<section class="mx-4">
    @if (employee != null)
    {
        <h5 class="mt-4">Employee Profile</h5>
        <hr>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="padding-left: 15px;">
                    <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">General</a></li>
                    <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Address</a></li>
                    <li><a class="nav-link text-left" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Contact</a></li>
                    <li><a class="nav-link text-left" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Employment</a></li>
                    <li><a class="nav-link text-left" id="v-pills-family-tab" data-toggle="pill" href="#v-pills-family" role="tab" aria-controls="v-pills-family" aria-selected="false">Family</a></li>
                    <li><a class="nav-link text-left" id="v-pills-language-tab" data-toggle="pill" href="#v-pills-language" role="tab" aria-controls="v-pills-language" aria-selected="false">Language</a></li>
                    <li><a class="nav-link text-left" id="v-pills-emergency-tab" data-toggle="pill" href="#v-pills-emergency" role="tab" aria-controls="v-pills-emergency" aria-selected="false">Emergency</a></li>
                    @if (Context.User.IsInRole("HR"))
                    {
                        <li><a class="nav-link text-left" id="v-pills-ids-tab" data-toggle="pill" href="#v-pills-ids" role="tab" aria-controls="v-pills-ids" aria-selected="false">Id</a></li>
                    }
                </ul>
              @*   @if (Context.User.IsInRole("HR"))
                { *@
                    <div class="nav nav-pills d-flex mt-4" id="user-set-tab" role="tablist" aria-orientation="vertical">
                        <a onclick="approveModal(@employee.id)" class="btn btn-success text-white w-full py-1 px-3 ml-2">
                             Approve
                        </a>
                    <a onclick="rejectModal(@employee.id)" class="btn btn-danger text-white w-full py-1 px-3">
                             Reject
                        </a>
                    </div>
               @*  } *@
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="bg-white rounded p-0">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="card-img-block" style="height:65px; width:100%;">
                                    <img src="https://wallpapers.com/images/hd/profile-picture-background-npa9yae86g2tj6xs.jpg" class="w-100" style="height:65px; width:100%; object-fit:cover;" />
                                </div>
                                <div class="position-relative mx-auto">
                                    @if (employee.profile_picture != null)
                                    {
                                        <img class="img-radius mx-auto d-block border" width="100" id="profilePictureHolder" src="@Url.Content("~/img/" + employee.profile_picture)" alt="Employee Profile Photo" style="margin-top:-36px;" />
                                    }
                                    else
                                    {
                                        <img class="img-radius mx-auto d-block border" width="100" src="~/img/male_img_avatar.png" alt="Employee Profile Photo" style="margin-top:-36px;" />
                                    }
                                </div>
                                <div class="my-4 text-center">
                                    <h6 class="mb-1">@employee.first_name @employee.father_name @employee.grand_father_name</h6>
                                    <p class="mb-0">MOLs-12344</p>
                                </div>
                                <div class="col-md-6 col-sm-12 text-center d-flex m-auto">
                                    <div class="col">
                                        @if (employee.gender == "Male")
                                        {
                                            <h6 class="mb-1"><i class="fas fa-male fa-fw fa-1x" style="color: cadetblue;"></i> </h6>
                                            <p class="mb-0">Male</p>
                                        }
                                        else
                                        {
                                            <h6 class="mb-1"><i class="fas fa-female fa-fw fa-1x" style="color: cadetblue;"></i> </h6>
                                            <p class="mb-0">Female</p>
                                        }

                                    </div>
                                    <div class="col border-start">
                                        @if (employee.work_status == true)
                                        {
                                            <h6 class="mb-1"><i class="feather icon-check text-success"></i></h6>
                                            <p class="badge badge-success">Working</p>
                                        }
                                        else if (employee.work_status == false)
                                        {
                                            <h6 class="mb-1"><i class="feather icon-alert-triangle text-danger"></i></h6>
                                            <p class="badge badge-danger">Terminated</p>
                                        }
                                        else
                                        {
                                            <h6 class="mb-1"><i class="feather icon-info text-warning"></i></h6>
                                            <p class="badge badge-warning">On Leave</p>
                                        }
                                    </div>
                                    <div class="col border-start">
                                        <div><small class="mb-1">Profile Status</small></div>
                                        @if (employee.profile_status == true)
                                        {
                                            <p class="badge badge-success">Approved</p>
                                        }
                                        else if (employee.profile_status == false)
                                        {
                                            <p class="badge badge-danger">Rejected</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-warning">Pending</p>
                                        }
                                    </div>
                                </div>
                           <div class="row mt-5 p-4">
                               <div class="col-md-6 col-sm-12">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item p-0">
                                            <small class="text-muted">Nation</small>
                                            <p>@employee.nation</p>
                                        </li>
                                        <li class="list-group-item p-0">
                                            <small class="text-muted">Religion</small>
                                             <p>@employee.religion</p>
                                        </li>
                                        <li class="list-group-item p-0">
                                            <small class="text-muted">Date of Birth</small>
                                             <p>@employee.date_of_birth</p>
                                        </li>
                                        <li class="list-group-item p-0">
                                             <small class="text-muted">Place of Birth</small>
                                             <p>@employee.place_of_birth</p>
                                        </li>
                                    </ul>
                               </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item p-0">
                                            <small class="text-muted">Bank Account Number</small>
                                             <p>@employee.back_account_number</p>
                                        </li>
                                        <li class="list-group-item p-0">
                                            <small class="text-muted">Pension Number</small>
                                             <p>@employee.pension_number</p>
                                        </li>
                                        <li class="list-group-item p-0">
                                            <small class="text-muted">TIN Number</small>
                                             <p>@employee.tin_number</p>
                                        </li>
                                        <li class="list-group-item p-0">
                                            <small class="text-muted">Nationality</small>
                                             <p>@employee.nationality</p>
                                        </li>
                                    </ul>
                                </div>
                           </div>


                        </div>
                        <div class="tab-pane fade p-4" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <h5 class="mb-4 pb-3 border-bottom font-weight-bold">Address</h5>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="py-1">Region</td>
                                        <td class="py-1">:</td>
                                        <td class="py-1">@employee.Employee_Address.Region.name</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">Subcity</td>
                                        <td class="py-1">:</td>
                                        <td class="py-1">@employee.Employee_Address.Subcity.name</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">Woreda</td>
                                        <td class="py-1">:</td>
                                        <td class="py-1">@employee.Employee_Address.Woreda.name</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">Kebele</td>
                                        <td class="py-1">:</td>
                                        <td class="py-1">@employee.Employee_Address.kebele</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">Primary Addresss</td>
                                        <td class="py-1">:</td>
                                        <td class="py-1">@employee.Employee_Address.primary_address</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade p-4" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h5 class="mt-4 mb-4 pb-3 border-bottom font-weight-bold" id="user-education">Contacts</h5>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="py-1">Phone Number</td>
                                    <td class="py-1">:</td>
                                    <td class="py-1">+251 @employee.Employee_Contact.phonenumber</td>
                                </tr>
                                <tr>
                                    <td class="py-1">Alternative Phone Number</td>
                                    <td class="py-1">:</td>
                                        <td class="py-1">+251 @employee.Employee_Contact.alternative_phonenumber</td>
                                </tr>
                                <tr>
                                    <td class="py-1">Internal PhoneLine</td>
                                    <td class="py-1">:</td>
                                        <td class="py-1">+011 @employee.Employee_Contact.internal_phonenumber</td>
                                </tr>
                            </tbody>

                        </table>
                     </div>
                        <div class="tab-pane fade p-4" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <h5 class="mt-4 mb-4 pb-3 border-bottom font-weight-bold" id="user-education">Employment Information</h5>
                            <div class="row align-items-center mb-3">
                                <div class="col-sm-3">
                                    <h5>Division</h5><span>Department</span>
                                </div>
                                <div class="col-sm-9 border-start">
                                    <h6>@employee.Employee_Office.Division.name</h6>
                                    <span class="text-muted">@employee.Employee_Office.Department.name</span>
                                </div>
                            </div>
                            <div class="row align-items-center mb-3">
                                <div class="col-sm-3">
                                    <h6>Team</h6><span>Position</span>
                                </div>
                                <div class="col-sm-9 border-start">
                                    <h6>@employee.Employee_Office.Team.name</h6>
                                    <span class="text-muted">@employee.Employee_Office.Position.name</span>
                                </div>
                            </div>
                            <div class="row align-items-center mb-3">
                                <div class="col-sm-3">
                                    <h6>Office Number</h6><span class="mb-1">Place of work</span>
                                </div>
                                <div class="col-sm-9 border-start">
                                    <h6 class="text-muted">@employee.Employee_Office.office_number</h6>
                                    <span class="text-muted">@employee.place_of_work</span>
                                </div>
                            </div>
                        </div>
                        @if (Context.User.IsInRole("HR"))
                        {
                            <div class="tab-pane fade p-4" id="v-pills-ids" role="tabpanel" aria-labelledby="v-pills-ids-tab">
                                <div class="row">
                                    <div class="col-sm col-md-12">
                                        <div class="idcard" id="front-face">
                                            <div class="head px-3">
                                                <img src="~/img/efdre.png"
                                                alt="efdre" class="efdre my-auto" width="50" height="50">
                                                <img src="~/img/new-logo.png"
                                                alt="MOls-logo" class="mols" width="200">
                                            </div>

                                            <div class="main-container" style="background-image: src(~/wwwroot/img/mask-back.png);">
                                                <div class="text-center" style="width: 200px;">
                                                    @if (employee.profile_picture != null)
                                                    {
                                                        <img src="~/img/male_img_avatar.png"
                                                        class="thumbnail"
                                                        alt="John">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/img/male_img_avatar.png"
                                                        class="thumbnail"
                                                        alt="John">
                                                    }

                                                    <p class="font-weight-bold" style="font-size:12px;">
                                                        @employee.first_name_am @employee.father_name_am @employee.grand_father_name_am
                                                    </p>
                                                    <p class="font-weight-bold" style="font-size:12px;">
                                                        @employee.first_name @employee.father_name @employee.grand_father_name
                                                    </p>
                                                    <p class="font-weight-bold" style="font-size:10px;"></p>

                                                </div>
                                                <!-- side to side blue badges -->
                                                <div style="width: 60%;">
                                                    <div class="my-3" style="padding-left: 28px; display: flex;">
                                                        <span class="pr-3 font-weight-bold id">
                                                            ID NO<br> የመ.ቁ
                                                        </span>
                                                        <span class="blue font-weight-bold my-auto id"
                                                        style="letter-spacing: 0.7px; font-size: 15px; margin-bottom: -41px; color:#000000;">
                                                            @employee.id
                                                        </span>
                                                    </div>
                                                    <div class="side-ban">
                                                        <div style="width:100px;">
                                                            <p class="pb-1">Issued Date</p>
                                                            <p>የተሰጠበት ቀን</p>
                                                        </div>
                                                        <div class="ml-5">
                                                            @*    <p class="pb-1 font-weight-bold">@employee.IssuedMonth/@employee.IssuedYear G.C </p>
                                                        <p class="font-weight-bold">@employee.monthinamh/2015 ዓ.ም</p> *@
                                                        </div>
                                                    </div>
                                                    <div class="side-ban">
                                                        <div style="width:100px;">
                                                            <p class="pb-1">ጾታ/Sex</p>
                                                            <p>ስልክ/Tel</p>
                                                        </div>
                                                        <div class="ml-5">
                                                            <p class="pb-1 font-weight-bold">@employee.gender</p>
                                                            <p class="font-weight-bold">@employee.Employee_Contact.phonenumber</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="mt-4" id="DownloadLink" download="@employee.first_name ID Front.png"></a>
                                        <button class="btn btn-primary download-btn" onclick="screenShot('front-face','DownloadLink')">
                                            Download
                                        </button>
                                    </div>
                                    <div class="col-sm col-md-12">
                                        <!-- back face -->
                                        <div class="idcard back-face" id="backFace" style="background-image: url('~/img/mask-back.png');">
                                            <div class="back-head position-relative">
                                                <div class="py-3" style="background-color:#235ba4; border-top-right-radius: 19px; border-top-left-radius: 19px; z-index: -1">
                                                </div>
                                                <div class="py-3 px-4">
                                                    <b>Address: </b>
                                                    @employee.Employee_Address.Region.name,
                                                    @employee.Employee_Address.Subcity.name,
                                                    woreda,
                                                    @employee.Employee_Address.Woreda.name
                                                </div>
                                                <img src="~/img/stampp.png"
                                                style="width: 155px; height: 159px;"
                                                class="stamp"
                                                alt="Mols authority stamp" />
                                            </div>
                                            <div class="back">
                                                <div class="py-3">
                                                    <ul class="m-auto" style="list-style: none;">
                                                        <li class="py-1">
                                                            <b>(011) 555-4561</b>
                                                        </li>
                                                        <li class="py-1">
                                                            <b>PoBox: 40/1080</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="py-3">
                                                    <ul class="m-auto" style="list-style: none;">
                                                        <li class="py-1">
                                                            <b> 011-6671726</b>
                                                        </li>
                                                        <li class="py-1">
                                                            <b>info@mols.gov.et</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="py-3">
                                                    <ul class="m-auto" style="list-style: none;">
                                                        <li class="py-1">
                                                            <b>www.mols.gov.et</b>
                                                        </li>
                                                        <li class="py-1">
                                                            <b> fb.com/mols</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="my-2">
                                                <div style="display: flex; justify-content:center; height:80px;">

                                                    @*  <img src="@employee.first_name"
                                                         alt=""
                                                         style="width: 70px;" /> *@
                                                    <div style="display: flex; position:relative;">

                                                        <p class="my-3 pl-1" style="font-size: 12px; font-weight: 500;">
                                                            <span class="pb-2">Authorized Signature</span>  <br>
                                                            የባለስልጣኑ ፊርማ
                                                        </p>
                                                        <img src="~/img/menen.png"
                                                        alt="sign"
                                                        style="width: 70px;" />
                                                        <img src="~/img/ttr.png"
                                                        alt="sign"
                                                        style="width: 200px; position:absolute;" />
                                                    </div>
                                                    <img src="@employee.first_name"
                                                    alt=""
                                                    style="width: 200px;">
                                                </div>
                                                <div class="mt-2 px-4">
                                                    <p style="font-size: 10px; color:; line-height:10px;">
                                                        ይህን መታወቂያ የያዙ የመሥሪያቤታችን ባልደረባ ናቸው፡፡
                                                        We here by certify that the bearer of this identity card is our employee.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-4">
                                            <a href="#" id="DownloadLinkBack" download="@employee.first_name ID Back.png"></a>
                                            <button class="btn btn-primary download-btn-back" onclick="screenShot('backFace','DownloadLink')">
                                                Download
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="tab-pane fade p-4" id="v-pills-family" role="tabpanel" aria-labelledby="v-pills-family-tab">
                            @if (employee.Family_History != null)
                            {
                                <h5 class="mb-4 pb-3 border-bottom font-weight-bold">Family Information</h5>
                                @foreach (var item in employee.Family_History)
                                {
                                    <div class="d-flex">
                                        <div class="row align-items-center mb-3">
                                            <div class="col-sm-3">
                                                <h5>@item.full_name</h5><span>@item.gender</span>
                                            </div>
                                        </div>
                                        <div class="row align-items-center mb-3">
                                            <div class="col-sm-3">
                                                <span>Occupation</span>
                                            </div>
                                            <div class="col-sm-9 border-start">
                                                <span class="text-muted">@item.job_name</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h5 class="py-5 font-weight-bold">Not Found</h5>
                            }
                        </div>
                        <div class="tab-pane fade p-4" id="v-pills-language" role="tabpanel" aria-labelledby="v-pills-language-tab">
                            @if (employee.Language != null)
                            {
                                <h5 class="mb-4 pb-3 border-bottom font-weight-bold">Language Information</h5>
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Language
                                                </th>
                                                <th>
                                                    Speaking
                                                </th>
                                                <th>
                                                    Listening
                                                </th>
                                                <th>
                                                    Reading
                                                </th>
                                                <th>
                                                    Writing
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in employee.Language)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.name)
                                                </td>
                                                <td>
                                                    @if (item.ability_to_Speak >= 0 && item.ability_to_Speak <= 25)
                                                    {
                                                        <span>Beginner</span>
                                                    }
                                                    else if (item.ability_to_Speak >= 26 && item.ability_to_Speak <= 50)
                                                    {
                                                        <span>Intermidiate</span>

                                                    }
                                                    else if (item.ability_to_Speak >= 51 && item.ability_to_Speak <= 75)
                                                    {
                                                        <span>Advanced</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Native</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.ability_to_listen >= 0 && item.ability_to_listen <= 25)
                                                    {
                                                        <span>Beginner</span>
                                                    }
                                                    else if (item.ability_to_listen >= 26 && item.ability_to_listen <= 50)
                                                    {
                                                        <span>Intermidiate</span>

                                                    }
                                                    else if (item.ability_to_listen >= 51 && item.ability_to_listen <= 75)
                                                    {
                                                        <span>Advanced</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Native</span>
                                                    }
                                                </td><td>
                                                    @if (item.ability_to_Speak >= 0 && item.ability_to_Speak <= 25)
                                                    {
                                                        <span>Beginner</span>
                                                    }
                                                    else if (item.ability_to_Speak >= 26 && item.ability_to_Speak <= 50)
                                                    {
                                                        <span>Intermidiate</span>

                                                    }
                                                    else if (item.ability_to_Speak >= 51 && item.ability_to_Speak <= 75)
                                                    {
                                                        <span>Advanced</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Native</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.ability_to_write >= 0 && item.ability_to_write <= 25)
                                                    {
                                                        <span>Beginner</span>
                                                    }
                                                    else if (item.ability_to_write >= 26 && item.ability_to_write <= 50)
                                                    {
                                                        <span>Intermidiate</span>

                                                    }
                                                    else if (item.ability_to_write >= 51 && item.ability_to_write <= 75)
                                                    {
                                                        <span>Advanced</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Native</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                            }
                            else
                            {
                                <h5 class="py-5 font-weight-bold">Not Found</h5>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (employee == null)
    {
        <div class="text-center mt-5 text-light">
            <h2 class="font-weight-bold my-4">No Employee Profile</h2>
            <i class="feather icon-file" style="font-size:40px;"></i>
        </div>
     }
</section>
   



