@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<ERP.Models.HRMS.Employee_managments.Employee>

@{
    ViewData["Title"] = "Employee List";
}

@{
    var searchTerm = ViewContext.HttpContext.Request.Query["searchTerm"];
    var sortOrder = ViewContext.HttpContext.Request.Query["sortOrder"];
    var birthdateFilter = ViewContext.HttpContext.Request.Query["birthdateFilter"];
    var maritalStatusFilter = ViewContext.HttpContext.Request.Query["maritalStatusFilter"];
}

@* @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchTerm", searchTerm, new { @class = "form-control", placeholder = "Search by First name or Last name" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

    <div class="form-group">
        <label for="sortOrder">Sort By:</label>
        <select name="sortOrder" id="sortOrder" class="form-control">
            <option value="">None</option>
            <option value="asc" selected="@(sortOrder == "asc")">First Name (Ascending)</option>
            <option value="desc" selected="@(sortOrder == "desc")">First Name (Descending)</option>
        </select>
    </div>

    <div class="form-group">
        <label for="birthdateFilter">Filter By Birthdate:</label>
        <input type="date" name="birthdateFilter" id="birthdateFilter" class="form-control" value="@birthdateFilter" />
    </div>

    <div class="form-group">
        <label for="maritalStatusFilter">Filter By Marital Status:</label>
        <select name="maritalStatusFilter" id="maritalStatusFilter" class="form-control">

            <option value="Single" selected="@(maritalStatusFilter == "Single" ? "selected" : null)">Single</option>
            <option value="Married" selected="@(maritalStatusFilter == "Married" ? "selected" : null)">Married</option>
            <option value="Divorced" selected="@(maritalStatusFilter == "Divorced" ? "selected" : null)">Divorced</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Apply Filters</button>
    </div>
    @if (!string.IsNullOrEmpty(searchTerm) || !string.IsNullOrEmpty(sortOrder) || !string.IsNullOrEmpty(birthdateFilter) || !string.IsNullOrEmpty(maritalStatusFilter))
    {
        <a href="@Url.Action("Index")" class="btn btn-secondary">Clear Filters</a>
    }
} *@

<div class="container px-1" style="position: initial;">
    <div class="card">
        <div class="card-header">
            <h5>Employee List</h5>
            <span class="d-block m-t-5">List of Mols employees.</span>
        </div>
            <form asp-action="Index">
                <div class="d-flex justify-content-end">
                   @*<div class="mr-3">Flex item 1</div>
                    <div class="mr-3">Flex item 2</div>*@
                    <div class="input-group mb-3 w-25">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="feather icon-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search.." name="searchTerm" id="Search" />
                    </div>
                    @if (string.IsNullOrEmpty(searchTerm))
                    {
                        <a href="@Url.Action("Index")" class="btn btn-light">Clear</a>
                    }
                </div>
            </form>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th>Gender</th>
                            <th>Department</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td>
                                    @if ((@employee.first_name != null && @employee.father_name != null) && (@employee.first_name.Length > 10 || @employee.first_name.Length > 10))
                                    {
                                        <p class="m-0">@employee.first_name.Substring(0, 10) @employee.father_name.Substring(0, 10)...</p>
                                    }
                                    else
                                    {
                                        <p class="m-0">@employee.first_name @employee.father_name</p>
                                    }
                                </td>
                                <td>@employee.date_of_birth.ToShortDateString()</td>
                                <td>@employee.gender</td>
                                <td>
                                    @if (@employee.Employee_Office.Department.name != null && @employee.Employee_Office.Department.name.Length > 10)
                                    {
                                        <p class="m-0">@employee.Employee_Office.Department.name.Substring(0, 10)...</p>
                                    }
                                    else
                                    {
                                        <p class="m-0">@employee.Employee_Office.Department.name</p>
                                    }
                                </td>
                                <td>
                                    @if (employee.profile_status == true)
                                    {
                                        <p class="badge badge-success">Approved</p>
                                    }
                                    else if (employee.profile_status == false)
                                    {
                                        <p class="badge badge-danger">Rejected</p>
                                    }
                                    else
                                    {
                                        <p class="badge badge-warning">Pending</p>
                                    }
                                </td>
                                <td class="float-right">
                                    @* <a onclick="deleteConf(@employee.id)" class="text-danger ml-2" id="DeleteLink">
                                        <i class="feather icon-trash-2 fa-fw"></i>
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@employee.id" class="text-success ml-2">
                                        <i class="feather icon-edit fa-fw"></i>
                                    </a> *@
                                    <a asp-action="Profile" asp-route-id="@employee.id" class="btn btn-outline-info ml-2">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="pagination">
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
            </li>
        }
    </ul>
</div>