@{
    ViewData["Title"] = "Employee Profile";
}


<button type="button" class="btn btn-primary py-1 px-2 ml-2" data-toggle="modal" data-target="#ApproveModalCenter">
    Change Status
</button>

<div class="row mx-2">
    <div class="col-lg-4">
        <div class="card user-card user-card-1">
            <div class="card-body pb-0">
                <div class="float-end">
                    <span class="badge badge-success">Pro</span>
                </div>
                <div class="media user-about-block align-items-center mt-0 mb-3">
                    <div class="position-relative d-inline-block">
                       @*  @if (Model.ProfilePicture != null)
                        {
                            <img src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))"
                             class="rounded-circle mx-auto position-relative"
                             alt="Profile"
                             style="object-position:top; top:80%; height:150px; width:150px; object-fit:cover;">
                        }
                        else
                        {
                            @if (Model.Sex == "Male")
                            {
                                <img class="img-radius img-fluid" width="80" src="~/images/male_img_avatar.png" alt="User image">
                            }
                            else
                            {
                                <img class="img-radius img-fluid" width="80" src="~/images/female_img_avatar.png" alt="User image">

                            }
                        }
                    @if (Model.Approve == true)
                    { *@
                        <div class="certificated-badge">
                            <i class="fas fa-certificate text-primary bg-icon"></i>
                        </div>
                    @* } *@
                    </div>
                   @*  <div class="media-body ml-3">
                        <h6 class="mb-1">@Model.FirstName @Model.LastName</h6>
                        <p class="mb-0 text-muted">@Model.Department.Name</p>
                    </div> *@
                </div>
            </div>
           @*  <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="f-w-500"><i class="feather icon-mail m-r-10"></i>ID</span>
                    <a href="#" class="float-right text-body">@Model.EmployeeCode</a>
                </li>
                <li class="list-group-item">
                    <span class="f-w-500"><i class="feather icon-phone-call m-r-10"></i>Phone</span>
                    <a href="#" class="float-right text-body">@Model.Mobile</a>
                </li>
                <li class="list-group-item border-bottom-0">
                    <span class="f-w-500"><i class="feather icon-map-pin m-r-10"></i>Location</span>
                    <span class="float-right">@Model.Sub_City</span>
                </li>
            </ul> *@
            <div class="card-body">
                <div class="row text-center">
                    <div class="col">
                      @*   @if (Model.Sex == "Male")
                        { *@
                            <h6 class="mb-1"><i class="fas fa-male fa-fw fa-1x" style="color: cadetblue;"></i> </h6>
                       @*      <p class="mb-0">Male</p>
                        }
                        else
                        { *@
                            <h6 class="mb-1"><i class="fas fa-female fa-fw fa-1x" style="color: cadetblue;"></i> </h6>
                            <p class="mb-0">Female</p>
                        @* } *@
                        
                    </div>
                    <div class="col border-start">
                       @*  @if (Model.Status == true)
                        {
                        <h6 class="mb-1"><i class="feather icon-check text-success"></i></h6>
                        <p class="badge badge-success">Active</p>
                        }
                        else if (Model.Status == false)
                        {
                            <h6 class="mb-1"><i class="feather icon-alert-triangle text-danger"></i></h6>
                        <p class="badge badge-danger">In active</p>
                        }
                        else
                        {
                            <h6 class="mb-1"><i class="feather icon-info text-warning"></i></h6>
                            <p class="badge badge-warning">Pending</p>
                        }
                         *@
                    </div>
                    <div class="col border-start">
                        <h6 class="mb-1">678</h6>
                        <p class="mb-0">Following</p>
                    </div>
                </div>
            </div>
            <div class="nav flex-column nav-pills list-group list-group-flush list-pills" id="user-set-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link list-group-item list-group-item-action" id="user-set-profile-tab" data-bs-toggle="pill" href="#user-profile" role="tab" aria-controls="user-set-profile" aria-selected="true">
                    <span class="f-w-500">
                        <i class="feather icon-user m-r-10 h5 "></i>Profile
                        Overview
                    </span>
                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                </a>
                <a class="nav-link list-group-item list-group-item-action" id="user-set-information-tab" data-bs-toggle="pill" href="#user-education" role="tab" aria-controls="user-set-information" aria-selected="false">
                    <span class="f-w-500">
                        <i class="feather icon-file-text m-r-10 h5 "></i>Education
                        Information
                    </span>
                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                </a>
                <a class="nav-link list-group-item list-group-item-action" id="user-set-account-tab" data-bs-toggle="pill" href="#user-employment" role="tab" aria-controls="user-set-account" aria-selected="false">
                    <span class="f-w-500">
                        <i class="feather icon-book m-r-10 h5 "></i>Employment
                        Information
                    </span>
                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                </a>
                <a class="nav-link list-group-item list-group-item-action" id="user-set-passwort-tab" data-bs-toggle="pill" href="#user-office" role="tab" aria-controls="user-set-passwort" aria-selected="false">
                    <span class="f-w-500">
                        <i class="feather icon-shield m-r-10 h5 "></i>Office Information
                    </span>
                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                </a>
               
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="tab-content bg-transparent p-0 shadow-none" id="user-set-tabContent">
            <div class="tab-pane fade show active" id="user-set-profile" role="tabpanel" aria-labelledby="user-set-profile-tab">
                
                <div class="card">
                    <div class="card-header" id="user-profile">
                        <h5><i class="feather icon-user text-c-blue wid-20"></i><span class="p-l-5">About me</span></h5>
                    </div>
                    <div class="card-body">
                        <p>
                           @*  @Model.AboutMe *@
                        </p>
                        <h5 class="mt-5 mb-3">Personal Details</h5>
                        <table class="table table-borderless">
                            @* <tbody>
                                <tr>
                                    <td class="">Full Name</td>
                                    <td class="">:</td>
                                    <td class="">@Model.FirstName @Model.LastName</td>
                                </tr>
                                <tr>
                                    <td class="">Father's Name</td>
                                    <td class="">:</td>
                                    <td class="">@Model.</td>
                                </tr>
                                <tr>
                                    <td class="">Address</td>
                                    <td class="">:</td>
                                    <td class="">@Model.City @Model.Sub_City, @Model.Woreda</td>
                                </tr>
                                <tr>
                                    <td class="">Phone</td>
                                    <td class="">:</td>
                                    <td class="">@Model.WorkTelephone, @Model.OfficeNumber</td>
                                </tr>
                                <tr>
                                    <td class="">Email</td>
                                    <td class="">:</td>
                                    <td class=""><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fe8d8b8e8e918c8abe9b869f938e929bd09d9193">[email&#160;protected]</a></td>
                                </tr>
                                <tr>
                                    <td class="">Socials</td>
                                    <td class="">:</td>
                                  <td class="">
                                      @*  @foreach (var item in Model.Socials)             *@                           
                                       @* @if (Model.Socials.Name == "telegram")
                                        {
                                            <i class="fab fa-telegram fa-fw text-info f-20"></i>
                                        }
                                        else if (Model.Socials.Name == "linkedin")
                                        {
                                            <i class="fab fa-linkedin fa-fw text-primary f-20"></i>
                                        }
                                        else if (Model.Socials.Name == "facebook")
                                        {
                                            <i class="fab fa-facebook fa-fw text-primary f-20"></i>
                                        }
                                        else if (Model.Socials.Name == "instagram")
                                        {
                                            <i class="fab fa-instagram fa-fw text-danger f-20"></i>
                                        }
                                        @Html.DisplayFor(modelItem => Model.Socials.Name)*@
                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <h5 class="mt-5 mb-4 pb-3 border-bottom font-weight-bold" id="user-education">Education</h5>
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-3">
                                <h5>2014-2017</h5><span>Master Degree</span>
                            </div>
                            <div class="col-sm-9 border-start">
                                <h6>Master Degree in Computer Application</h6>
                                <p>University of Oxford, England</p>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-3">
                                <h5>2011-2013</h5><span>Bechelor</span>
                            </div>
                            <div class="col-sm-9 border-start">
                                <h6>Bachelor Degree in Computer Engineering</h6>
                                <p>Imperial College London</p>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-3">
                                <h5>2009-2011</h5><span>School</span>
                            </div>
                            <div class="col-sm-9 border-start">
                                <h6>Higher Secondry Education</h6>
                                <p>School of London, England</p>
                            </div>
                        </div>
                        <h5 class="mt-5 mb-4 pb-3 border-bottom font-weight-bold" id="user-employment">Employment</h5>
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-3">
                                <h5>Current</h5><span>Senior</span>
                            </div>
                            <div class="col-sm-9 border-start">
                                <h6>Senior UI/UX designer</h6>
                                <p class="mb-1">
                                    Perform task related to project manager with the
                                    100+ team under my observation. Team management is key role
                                    in this company.
                                </p>
                                <span class="text-muted">Microsoft, TX, USA</span>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-3">
                                <h5>2017-2019</h5><span>Junior</span>
                            </div>
                            <div class="col-sm-9 border-start">
                                <h6>Trainee cum Project Manager</h6>
                                <span class="text-muted">Microsoft, TX, USA</span>
                            </div>
                        </div>
                        <h5 class="mt-5 mb-4 pb-3 border-bottom font-weight-bold" id="user-office">Office Information</h5>
                        <table class="table table-borderless">
                            <tbody>
                               @*  <tr>
                                    <td class="">Division</td>
                                    <td class="">:</td>
                                    <td class="">@Model.Division.Name</td>
                                </tr>
                                <tr>
                                    <td class="">Department</td>
                                    <td class="">:</td>
                                    <td class="">@Model.Department.Name</td>
                                </tr>
                                <tr>
                                    <td class="">Team</td>
                                    <td class="">:</td>
                                    <td class="">@Model.Team.Name</td>
                                </tr> *@
                               @* <tr>
                                    <td class="">Position</td>
                                    <td class="">:</td>
                                    <td class="">@Model.Positions.Name</td>
                                </tr>*@
                                @* <tr>
                                    <td class="">Employment Type</td>
                                    <td class="">:</td>
                                    <td class="">@Model.Employment_Type.Name</td>
                                </tr> *@
                            </tbody>
                        </table>

                       @* <h5 class="mt-5 mb-4 pb-3 border-bottom font-weight-bold">Skills</h5>
                        <div class="row align-items-center mt-3">
                            <div class="col-md-6 mb-3">
                                <h6 class="m-b-10 text-muted">Web Designer</h6>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="progress" style="height:8px">
                                            <div class="progress-bar bg-primary" style="width:70%"></div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="m-b-0">70%</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <h6 class="m-b-10 text-muted">Graphic Designer</h6>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="progress" style="height:8px">
                                            <div class="progress-bar bg-success" style="width:85%"></div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="m-b-0">80%</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <h6 class="m-b-10 text-muted">UX Researcher</h6>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="progress" style="height:8px">
                                            <div class="progress-bar bg-success" style="width:85%"></div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="m-b-0">3.2</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <h6 class="m-b-10 text-muted">HTML</h6>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="progress" style="height:8px">
                                            <div class="progress-bar bg-warning" style="width:45%"></div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="m-b-0">45%</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <h6 class="m-b-10 text-muted">Wordpress</h6>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="progress" style="height:8px">
                                            <div class="progress-bar bg-danger" style="width:25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="m-b-0">25%</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <h6 class="m-b-10 text-muted">PHP</h6>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="progress" style="height:8px">
                                            <div class="progress-bar bg-primary" style="width:65%"></div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="m-b-0">65%</h6>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>