@model IEnumerable<HRMS.Office.Organization>

@{
    ViewData["Title"] = "Organization Index";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <div class="">
                <h5>Organization List</h5>
                <span class="d-block m-t-5">The following is a list of Organization.</span>
            </div>
           
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (@item.name != null && @item.name.Length > 50)
                                    {
                                    <h6 class="mb-1">@item.name.Substring(0, 50)...</h6>
                                    }
                                    else
                                    {
                                    <h6 class="mb-1">@Html.DisplayFor(modelItem => item.name)</h6>
                                    }

                                </td>
                                <td>
                                    @if (@item.description != null && @item.description.Length > 50)
                                    {
                                        <p class="m-0">@item.description.Substring(0, 50)...</p>
                                    }
                                    else
                                    {
                                        <p class="m-0">@item.description</p>
                                    }
                                </td>
                                <td>
                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>@Html.DisplayFor(modelItem => item.updated_date)</h6>
                                </td>
                                <td class="float-right">
                                    <a onclick="deleteConf(@item.id)" class="text-danger ml-2" id="DeleteLink">
                                        <i class="feather icon-trash-2 fa-fw"></i>
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.id"  class="text-success ml-2">
                                        <i class="feather icon-edit fa-fw"></i>
                                    </a>
                                    <a asp-action ="Details" asp-route-id="@item.id" class="btn btn-outline-info ml-2">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>