@model ERP.Models.HRMS.Training.Training

@{
    ViewData["Title"] = "Details";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Training Detail</h5>
            <span class="d-block m-t-5">Full Training Information.</span>
        </div>
        <div class="card-block table-border-style">
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.training_institution)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.training_institution)
                </dd>
                   
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.country_of_training)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.country_of_training)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.email)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.email)
                </dd>
               @*  <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.training_type)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.training_type)
                </dd> *@
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.training_situation)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.training_situation)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.start_date)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.start_date)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.end_date)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.end_date)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.status)
                </dt>
                <dd class = "col-sm-10">
                    @if (Model.status == true)
                    {
                        <p class="badge badge-success">Approved</p>
                    }
                    else if (Model.status == false)
                    {
                        <p class="badge badge-danger">Rejected</p>
                    }
                    else
                    {
                        <p class="badge badge-warning">Pending</p>
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
             </dl>
         </div>
    </div>
</div>
