@model ERP.Models.HRMS.Training.Training

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.training_institution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.training_institution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country_of_training)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country_of_training)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.training_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.training_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.training_situation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.training_situation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.approved_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.approved_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.back_account_number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
