@model ERP.Models.HRMS.Employee_managments.Language

@{
    ViewData["Title"] = "Update Language";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>update Language</h5>
            <span class="d-block m-t-5">Update a language.</span>
        </div>
        <div class="card-block table-border-style">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="employee_id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label">Language </label>
                    <input asp-for="name" class="form-control" placeholder="eg:Amharic" value="@Model.name"/>
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-5">
                            <label for="Listening">Listening</label>
                            <input type="range" asp-for="ability_to_listen" class="custom-range" step="10" id="Listening" value="@Model.ability_to_listen">
                            <dt id="values" class="d-inline-flex w-100">
                                <small class="flex-item border-right border-left text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Begineer</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Intermidiate</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Advanced</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Native</small>
                            </dt>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-5">
                            <label for="Speaking">Speaking</label>
                            <input type="range" asp-for="ability_to_Speak" class="custom-range" step="10" id="Speaking" value="@Model.ability_to_Speak">
                            <dt id="values" class="d-inline-flex w-100">
                                <small class="flex-item border-right border-left text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Begineer</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Intermidiate</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Advanced</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Native</small>
                            </dt>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-5">
                            <label for="Writing">Writing</label>
                            <input type="range" asp-for="ability_to_write" class="custom-range" step="10" id="Writing" value="@Model.ability_to_write">
                            <dt id="values" class="d-inline-flex w-100">
                                <small class="flex-item border-right border-left text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Begineer</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Intermidiate</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Advanced</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Native</small>
                            </dt>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-5">
                            <label for="Reading">Reading</label>
                            <input type="range" asp-for="ability_to_Read" class="custom-range" id="Reading" value="@Model.ability_to_Read">
                            <dt id="values" class="d-inline-flex w-100">
                                <small class="flex-item border-right border-left text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Begineer</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Intermidiate</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Advanced</small>
                                <small class="flex-item border-right text-center flex-grow-1" style="color:#b2bac1 !important; font-size:70% !important;">Native</small>
                            </dt>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
         </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
