@model IEnumerable<ERP.Models.HRMS.Surety.ExperienceRequest>

@{
    ViewData["Title"] = "Experience Request";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <div class="">
                <h5>Experience Request List</h5>
                <span class="d-block m-t-5">The following is a list of Experiences requsted.</span>
            </div>

            <form asp-action="Index">
                <div class="d-flex justify-content-end">
                    @*<div class="mr-3">Flex item 1</div>
                    <div class="mr-3">Flex item 2</div>*@
                    <div class="input-group mb-3 w-25">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="feather icon-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search..." name="searchTerm" id="Search" />
                    </div>
@*                     @if (string.IsNullOrEmpty(searchTerm))
                    {
                        <a href="@Url.Action("Index")" class="btn btn-light">Clear</a>
                    } *@
                </div>
            </form>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Reason
                            </th>
                            <th>
                                status
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updated_date)
                                </td>
                                <td class="float-right">
                                    <a onclick="deleteConf(@item.id)" class="text-danger ml-2" id="DeleteLink">
                                        <i class="feather icon-trash-2 fa-fw"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-outline-info ml-2">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



                @* <div class="pagination">
                    <ul class="pagination justify-content-center">
                        <div class="pagination">
                            <ul class="pagination justify-content-center">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link prev-button" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
                                    </li>
                                }



                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link next-button" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
                                    </li>
                                }
                            </ul>
                        </div>


                        @if (Model.PageNumber != 1)
                        {
                            <li class="page-item">
                                <a class="page-link first-button" href="@Url.Action("Index", new { page = 1 })">Go to the first page</a>
                            </li>
                        }
                    </ul>
                </div> *@
            </div>
        </div>
    </div>
</div>
